<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'estilos.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>MiniJuegosODS.com</title>
</head>
<body>
        <div class="area">
        <ul class="circles">
    <h1>¡MiniJuegos ODS!</h1>
    <div id="flex">
        <a ><button onclick="location.href='cody'">CodyCross</button></a>
        <a><button  onclick= "location.href='memo'">MemoTest</button></a>
              <div class="seleccionModo">
            Selecciona un juego
        </div>  
    </div>
    
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul> 
</div >
<footer>
    Desarrolladores: Damian Bottini, Mateo Gonzalez, Nicolás Magno, Ian Ozafrán y Federico Salgado.
</footer>
</body>
</html>