<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='memo.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  
</head>

<body >
  <div class=contenedor id='body2'>
    <div class="area">
    <ul class="circles">
    <button class="mainmenu" onclick= "location.href='https://pioixg11-tpi-1cuat-2.damian-efrainef.repl.co/'">MENU</button>
          
    <a href="javascript:abrir()"><button id="ayuda">?</button></a>
    <!--<div style="text-align:right">
    <button class="puntuaciones">Puntuaciones</button>
    </div>-->
    <div class="ventana" id="vent">
    <div id="cerrar"><a href="javascript:cerrar()"><img src="static/img/cerrar.png"></div></a>
        📜Reglas del MemoTest📌
         <br></br>
         <p class="texto">✅ El jugador debe ir descubriendo las celdas de a una e ir recordando dónde está cada pieza del par, para así reunirlos y sumar puntos. El objetivo es lograr reunir la mayor cantidad de pares. Concluye cuando todos los pares de la grilla son formados.</p>
    </div>
    <h1>🧠MemoTest📝</h1>
    <main>
        <section class="section1"></section>
        <table>
            <tr>
                <td><button value = 0 class=boton id="0" onclick="mostrar('0')" ></button></td>
                <td><button value = 0 class=boton id="1" onclick="mostrar('1')"></button></td>
                <td><button value = 0 class=boton id="2" onclick="mostrar('2')"></button></td>
                <td><button value = 0 class=boton id="3" onclick="mostrar('3')"></button></td>
            </tr>
            <tr>
                <td><button value=0 class=boton id="4" onclick="mostrar('4')"></button></td>
                <td><button value=0 class=boton id="5" onclick="mostrar('5')"></button></td>
                <td><button value=0 class=boton id="6" onclick="mostrar('6')"></button></td>
                <td><button value=0 class=boton id="7" onclick="mostrar('7')"></button></td>
            </tr>
            <tr>
                <td><button value=0 class=boton id="8" onclick="mostrar('8')"></button></td>
                <td><button value=0 class=boton id="9" onclick="mostrar('9')"></button></td>
                <td><button value=0 class=boton id="10" onclick="mostrar('10')"></button></td>
                <td><button value=0 class=boton id="11" onclick="mostrar('11')"></button></td>
            </tr>
            <tr>
                <td><button value=0 class=boton id="12" onclick="mostrar('12')"></button></td>
                <td><button value=0 class=boton id="13" onclick="mostrar('13')"></button></td>
                <td><button value=0 class=boton id="14" onclick="mostrar('14')"></button></td>
                <td><button value=0 class=boton id="15" onclick="mostrar('15')"></button></td>
            </tr>
                <section class="section2">
                <h2 id='aciertos' class="estadisticas1"></h2>
                <h2 id='tiempo' class="estadisticas2"></h2>
                <h2 id='movimientos' class="estadisticas3">🏃‍♂️  Movimientos:</h2>
                </section>
    <div id="nombre"> <p>Ingrese su nombre</p> <input> </div>
          
    <button class="volverAJugar" onclick='pagina()'>Volver a Jugar</button>
          
      
        </table>
    </main>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul> 
</div >
    <footer>
    Desarrolladores: Damian Bottini, Mateo Gonzalez, Nicolás Magno, Ian Ozafrán y Federico Salgado.
  </footer>
    
<!--     ❤❤❤     -->
    <script src="{{url_for('static',filename='memo.js')}}"></script>
<!--     ❤❤❤     -->
    
    <script>
        function abrir(){
            document.getElementById("vent").style.display="block";
        }
        function cerrar(){
            document.getElementById("vent").style.display="none";
        }
    </script>
  </div>
</body>
</html>